<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Due Date</th>
        <th>Is Completed?</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Course-1</td>
        <td>26-12-2022</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Course-2</td>
        <td>29-1-2022</td>
        <td>No</td>
    </tr>
    
</table>
